<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panel-white no-radius">
            <div class="panel-heading border-bottom">
                <div class="panel-tile">
                    Chat-[{{ me.name }}]
                </div>
            </div>
            <div class="panel-body no-padding">
                <div class="panel-scroll height-330 perfect-scrollbar ps-container ps-active-y">
                    <ol class="discussion">
                        <li class="messagesdate">Sunday, Feb 9, 12:58</li>
                        <li class="self">
                            <div class="message">
                                <div class="message-name">Joson</div>
                                <div class="message-text">Hi Ark</div>
                                <div class="message-avatar">
                                    <img src="asset/img/male.png">
                                </div>
                            </div>
                        </li>
                        <li class="other">
                            <div class="message">
                                <div class="message-name">Ark</div>
                                <div class="message-text">Hi Joson</div>
                                <div class="message-avatar">
                                    <img src="asset/img/male.png">
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="message-bar">
                <div class="message-inner">
                    <a class="link icon-only" href="#">
                        <i class="fa fa-camera"></i>
                    </a>
                    <div class="message-area">
                        <textarea placeholder="Message"></textarea>
                    </div>
                    <a class="link" hred="#">Send</a>
                </div>
            </div>
        </div>
    </div>
</div>